/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ErrorEnvelope
import org.openapitools.client.models.ObjectEmailDispatchRequest
import org.openapitools.client.models.TenantDtoListEnvelope

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class EmailsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://absuite.net")
        }
    }

    /**
     * Preview a rendered basic email template.
     * This action is only available for global administrators (business_owner role).
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun adminPreviewBasicEmailTemplate(apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, objectEmailDispatchRequest: ObjectEmailDispatchRequest? = null) : Unit {
        val localVarResponse = adminPreviewBasicEmailTemplateWithHttpInfo(apiVersion = apiVersion, xApiVersion = xApiVersion, objectEmailDispatchRequest = objectEmailDispatchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Preview a rendered basic email template.
     * This action is only available for global administrators (business_owner role).
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun adminPreviewBasicEmailTemplateWithHttpInfo(apiVersion: kotlin.String?, xApiVersion: kotlin.String?, objectEmailDispatchRequest: ObjectEmailDispatchRequest?) : ApiResponse<Unit?> {
        val localVariableConfig = adminPreviewBasicEmailTemplateRequestConfig(apiVersion = apiVersion, xApiVersion = xApiVersion, objectEmailDispatchRequest = objectEmailDispatchRequest)

        return request<ObjectEmailDispatchRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminPreviewBasicEmailTemplate
     *
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return RequestConfig
     */
    fun adminPreviewBasicEmailTemplateRequestConfig(apiVersion: kotlin.String?, xApiVersion: kotlin.String?, objectEmailDispatchRequest: ObjectEmailDispatchRequest?) : RequestConfig<ObjectEmailDispatchRequest> {
        val localVariableBody = objectEmailDispatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/SystemService/Emails/Preview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Send a basic transactional email to recipients.
     * This action is only available for global administrators (business_owner role).
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return TenantDtoListEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun adminSendBasicEmail(apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, objectEmailDispatchRequest: ObjectEmailDispatchRequest? = null) : TenantDtoListEnvelope {
        val localVarResponse = adminSendBasicEmailWithHttpInfo(apiVersion = apiVersion, xApiVersion = xApiVersion, objectEmailDispatchRequest = objectEmailDispatchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TenantDtoListEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Send a basic transactional email to recipients.
     * This action is only available for global administrators (business_owner role).
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return ApiResponse<TenantDtoListEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun adminSendBasicEmailWithHttpInfo(apiVersion: kotlin.String?, xApiVersion: kotlin.String?, objectEmailDispatchRequest: ObjectEmailDispatchRequest?) : ApiResponse<TenantDtoListEnvelope?> {
        val localVariableConfig = adminSendBasicEmailRequestConfig(apiVersion = apiVersion, xApiVersion = xApiVersion, objectEmailDispatchRequest = objectEmailDispatchRequest)

        return request<ObjectEmailDispatchRequest, TenantDtoListEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminSendBasicEmail
     *
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param objectEmailDispatchRequest  (optional)
     * @return RequestConfig
     */
    fun adminSendBasicEmailRequestConfig(apiVersion: kotlin.String?, xApiVersion: kotlin.String?, objectEmailDispatchRequest: ObjectEmailDispatchRequest?) : RequestConfig<ObjectEmailDispatchRequest> {
        val localVariableBody = objectEmailDispatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/SystemService/Emails/SendBasic",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
