/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ErrorEnvelope
import org.openapitools.client.models.ExchangeRateEnvelope

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class ExchangeVApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://absuite.net")
        }
    }

    /**
     * Exchange currency at historical rates (v3)
     * Exchange an amount of money from one currency to another using exchange rates from a specific historical date. Returns the full ExchangeRate details.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return ExchangeRateEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exchangeAmountHistoricalV3Async(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : ExchangeRateEnvelope {
        val localVarResponse = exchangeAmountHistoricalV3AsyncWithHttpInfo(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId, date = date)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ExchangeRateEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Exchange currency at historical rates (v3)
     * Exchange an amount of money from one currency to another using exchange rates from a specific historical date. Returns the full ExchangeRate details.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return ApiResponse<ExchangeRateEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun exchangeAmountHistoricalV3AsyncWithHttpInfo(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : ApiResponse<ExchangeRateEnvelope?> {
        val localVariableConfig = exchangeAmountHistoricalV3AsyncRequestConfig(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId, date = date)

        return request<Unit, ExchangeRateEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exchangeAmountHistoricalV3Async
     *
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return RequestConfig
     */
    fun exchangeAmountHistoricalV3AsyncRequestConfig(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("amount", listOf(amount.toString()))
                put("sourceCurrencyId", listOf(sourceCurrencyId.toString()))
                put("targetCurrencyId", listOf(targetCurrencyId.toString()))
                put("date", listOf(parseDateToQueryString(date)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v3/ForexService/Exchange/History",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Exchange currency at latest rates (v3)
     * Exchange an amount of money from one currency to another using the latest available exchange rates. Returns the full ExchangeRate details.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return ExchangeRateEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exchangeAmountV3Async(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : ExchangeRateEnvelope {
        val localVarResponse = exchangeAmountV3AsyncWithHttpInfo(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ExchangeRateEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Exchange currency at latest rates (v3)
     * Exchange an amount of money from one currency to another using the latest available exchange rates. Returns the full ExchangeRate details.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return ApiResponse<ExchangeRateEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun exchangeAmountV3AsyncWithHttpInfo(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : ApiResponse<ExchangeRateEnvelope?> {
        val localVariableConfig = exchangeAmountV3AsyncRequestConfig(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId)

        return request<Unit, ExchangeRateEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exchangeAmountV3Async
     *
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return RequestConfig
     */
    fun exchangeAmountV3AsyncRequestConfig(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("amount", listOf(amount.toString()))
                put("sourceCurrencyId", listOf(sourceCurrencyId.toString()))
                put("targetCurrencyId", listOf(targetCurrencyId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v3/ForexService/Exchange/Latest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
