/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ErrorEnvelope
import org.openapitools.client.models.MoneyEnvelope

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class ExchangeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://absuite.net")
        }
    }

    /**
     * Exchange currency at latest rates
     * Exchange an amount of money from one currency to another using the latest available exchange rates.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return MoneyEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exchangeAmountAsync(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : MoneyEnvelope {
        val localVarResponse = exchangeAmountAsyncWithHttpInfo(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MoneyEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Exchange currency at latest rates
     * Exchange an amount of money from one currency to another using the latest available exchange rates.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return ApiResponse<MoneyEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun exchangeAmountAsyncWithHttpInfo(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : ApiResponse<MoneyEnvelope?> {
        val localVariableConfig = exchangeAmountAsyncRequestConfig(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId)

        return request<Unit, MoneyEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exchangeAmountAsync
     *
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @return RequestConfig
     */
    fun exchangeAmountAsyncRequestConfig(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("amount", listOf(amount.toString()))
                put("sourceCurrencyId", listOf(sourceCurrencyId.toString()))
                put("targetCurrencyId", listOf(targetCurrencyId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/ForexService/Exchange/Latest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Exchange currency at historical rates
     * Exchange an amount of money from one currency to another using exchange rates from a specific historical date.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return MoneyEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exchangeAmountHistoricalAsync(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : MoneyEnvelope {
        val localVarResponse = exchangeAmountHistoricalAsyncWithHttpInfo(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId, date = date)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MoneyEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Exchange currency at historical rates
     * Exchange an amount of money from one currency to another using exchange rates from a specific historical date.
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return ApiResponse<MoneyEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun exchangeAmountHistoricalAsyncWithHttpInfo(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : ApiResponse<MoneyEnvelope?> {
        val localVariableConfig = exchangeAmountHistoricalAsyncRequestConfig(amount = amount, sourceCurrencyId = sourceCurrencyId, targetCurrencyId = targetCurrencyId, date = date)

        return request<Unit, MoneyEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exchangeAmountHistoricalAsync
     *
     * @param amount 
     * @param sourceCurrencyId 
     * @param targetCurrencyId 
     * @param date 
     * @return RequestConfig
     */
    fun exchangeAmountHistoricalAsyncRequestConfig(amount: kotlin.Double, sourceCurrencyId: kotlin.String, targetCurrencyId: kotlin.String, date: java.time.LocalDate) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("amount", listOf(amount.toString()))
                put("sourceCurrencyId", listOf(sourceCurrencyId.toString()))
                put("targetCurrencyId", listOf(targetCurrencyId.toString()))
                put("date", listOf(parseDateToQueryString(date)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/ForexService/Exchange/History",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
