/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class RadzenEditorApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://absuite.net")
        }
    }

    /**
     * Upload an editor image to tenant storage.
     * 
     * @param tenantId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadImage(tenantId: java.util.UUID, visibility: kotlin.String? = null, socialProfileId: kotlin.String? = null, purpose: kotlin.String? = null, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadImageWithHttpInfo(tenantId = tenantId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload an editor image to tenant storage.
     * 
     * @param tenantId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadImageWithHttpInfo(tenantId: java.util.UUID, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadImageRequestConfig(tenantId = tenantId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadImage
     *
     * @param tenantId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadImageRequestConfig(tenantId: java.util.UUID, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (visibility != null) {
                    put("visibility", listOf(visibility.toString()))
                }
                if (socialProfileId != null) {
                    put("socialProfileId", listOf(socialProfileId.toString()))
                }
                if (purpose != null) {
                    put("purpose", listOf(purpose.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/upload/image".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload an editor image scoped to a record.
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadImageScoped(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String? = null, socialProfileId: kotlin.String? = null, purpose: kotlin.String? = null, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadImageScopedWithHttpInfo(tenantId = tenantId, recordType = recordType, recordId = recordId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload an editor image scoped to a record.
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadImageScopedWithHttpInfo(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadImageScopedRequestConfig(tenantId = tenantId, recordType = recordType, recordId = recordId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadImageScoped
     *
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadImageScopedRequestConfig(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (visibility != null) {
                    put("visibility", listOf(visibility.toString()))
                }
                if (socialProfileId != null) {
                    put("socialProfileId", listOf(socialProfileId.toString()))
                }
                if (purpose != null) {
                    put("purpose", listOf(purpose.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/image".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())).replace("{"+"recordType"+"}", encodeURIComponent(recordType.toString())).replace("{"+"recordId"+"}", encodeURIComponent(recordId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload a single editor file to tenant storage.
     * 
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadSingle(tenantId: java.util.UUID, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadSingleWithHttpInfo(tenantId = tenantId, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload a single editor file to tenant storage.
     * 
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadSingleWithHttpInfo(tenantId: java.util.UUID, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadSingleRequestConfig(tenantId = tenantId, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadSingle
     *
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadSingleRequestConfig(tenantId: java.util.UUID, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/upload/single".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload a single editor file scoped to a record.
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadSingleScoped(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadSingleScopedWithHttpInfo(tenantId = tenantId, recordType = recordType, recordId = recordId, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload a single editor file scoped to a record.
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadSingleScopedWithHttpInfo(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadSingleScopedRequestConfig(tenantId = tenantId, recordType = recordType, recordId = recordId, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadSingleScoped
     *
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadSingleScopedRequestConfig(tenantId: java.util.UUID, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/single".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())).replace("{"+"recordType"+"}", encodeURIComponent(recordType.toString())).replace("{"+"recordId"+"}", encodeURIComponent(recordId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Chunked editor upload (not implemented).
     * 
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadStream(tenantId: kotlin.String, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : Unit {
        val localVarResponse = radzenUploadStreamWithHttpInfo(tenantId = tenantId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Chunked editor upload (not implemented).
     * 
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadStreamWithHttpInfo(tenantId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadStreamRequestConfig(tenantId = tenantId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadStream
     *
     * @param tenantId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun radzenUploadStreamRequestConfig(tenantId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/upload/stream".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Chunked editor upload scoped to a record (not implemented).
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadStreamScoped(tenantId: kotlin.String, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : Unit {
        val localVarResponse = radzenUploadStreamScopedWithHttpInfo(tenantId = tenantId, recordType = recordType, recordId = recordId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Chunked editor upload scoped to a record (not implemented).
     * 
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadStreamScopedWithHttpInfo(tenantId: kotlin.String, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadStreamScopedRequestConfig(tenantId = tenantId, recordType = recordType, recordId = recordId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadStreamScoped
     *
     * @param tenantId 
     * @param recordType 
     * @param recordId 
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun radzenUploadStreamScopedRequestConfig(tenantId: kotlin.String, recordType: kotlin.String, recordId: kotlin.String, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/stream".replace("{"+"tenantId"+"}", encodeURIComponent(tenantId.toString())).replace("{"+"recordType"+"}", encodeURIComponent(recordType.toString())).replace("{"+"recordId"+"}", encodeURIComponent(recordId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload an editor image to user storage.
     * 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadUserImage(visibility: kotlin.String? = null, socialProfileId: kotlin.String? = null, purpose: kotlin.String? = null, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadUserImageWithHttpInfo(visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload an editor image to user storage.
     * 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadUserImageWithHttpInfo(visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadUserImageRequestConfig(visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadUserImage
     *
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadUserImageRequestConfig(visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (visibility != null) {
                    put("visibility", listOf(visibility.toString()))
                }
                if (socialProfileId != null) {
                    put("socialProfileId", listOf(socialProfileId.toString()))
                }
                if (purpose != null) {
                    put("purpose", listOf(purpose.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/users/upload/image",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Upload a user editor image scoped to a record.
     * 
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun radzenUploadUserImageScoped(recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String? = null, socialProfileId: kotlin.String? = null, purpose: kotlin.String? = null, apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null, file: java.io.File? = null) : Unit {
        val localVarResponse = radzenUploadUserImageScopedWithHttpInfo(recordType = recordType, recordId = recordId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Upload a user editor image scoped to a record.
     * 
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun radzenUploadUserImageScopedWithHttpInfo(recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : ApiResponse<Unit?> {
        val localVariableConfig = radzenUploadUserImageScopedRequestConfig(recordType = recordType, recordId = recordId, visibility = visibility, socialProfileId = socialProfileId, purpose = purpose, apiVersion = apiVersion, xApiVersion = xApiVersion, file = file)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation radzenUploadUserImageScoped
     *
     * @param recordType 
     * @param recordId 
     * @param visibility  (optional)
     * @param socialProfileId  (optional)
     * @param purpose  (optional)
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @param file  (optional)
     * @return RequestConfig
     */
    fun radzenUploadUserImageScopedRequestConfig(recordType: kotlin.String, recordId: kotlin.String, visibility: kotlin.String?, socialProfileId: kotlin.String?, purpose: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?, file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (visibility != null) {
                    put("visibility", listOf(visibility.toString()))
                }
                if (socialProfileId != null) {
                    put("socialProfileId", listOf(socialProfileId.toString()))
                }
                if (purpose != null) {
                    put("purpose", listOf(purpose.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v2/fs/radzen/users/{recordType}/{recordId}/upload/image".replace("{"+"recordType"+"}", encodeURIComponent(recordType.toString())).replace("{"+"recordId"+"}", encodeURIComponent(recordId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
