/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ErrorEnvelope
import org.openapitools.client.models.ItemPriceCalculationEnvelope
import org.openapitools.client.models.MoneyEnvelope

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class PricesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://absuite.net")
        }
    }

    /**
     * Gets the final price for an item
     * Gets the final price for an item after all discounts and taxes in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return MoneyEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getFinalPrice(itemId: java.util.UUID, currencyId: kotlin.String? = "USD.USA", apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : MoneyEnvelope {
        val localVarResponse = getFinalPriceWithHttpInfo(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MoneyEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Gets the final price for an item
     * Gets the final price for an item after all discounts and taxes in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<MoneyEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getFinalPriceWithHttpInfo(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<MoneyEnvelope?> {
        val localVariableConfig = getFinalPriceRequestConfig(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, MoneyEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getFinalPrice
     *
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun getFinalPriceRequestConfig(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (currencyId != null) {
                    put("currencyId", listOf(currencyId.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/PricingService/Prices/{itemId}/FinalPrice".replace("{"+"itemId"+"}", encodeURIComponent(itemId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Gets the calculated price for an item
     * Calculates the price for an item considering price list, discount list, quantity, and currency.
     * @param itemId 
     * @param priceListId  (optional)
     * @param discountsListId  (optional)
     * @param quantity  (optional, default to 1.0)
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ItemPriceCalculationEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPrice(itemId: java.util.UUID, priceListId: java.util.UUID? = null, discountsListId: java.util.UUID? = null, quantity: kotlin.Double? = 1.0, currencyId: kotlin.String? = "USD.USA", apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : ItemPriceCalculationEnvelope {
        val localVarResponse = getPriceWithHttpInfo(itemId = itemId, priceListId = priceListId, discountsListId = discountsListId, quantity = quantity, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ItemPriceCalculationEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Gets the calculated price for an item
     * Calculates the price for an item considering price list, discount list, quantity, and currency.
     * @param itemId 
     * @param priceListId  (optional)
     * @param discountsListId  (optional)
     * @param quantity  (optional, default to 1.0)
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<ItemPriceCalculationEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPriceWithHttpInfo(itemId: java.util.UUID, priceListId: java.util.UUID?, discountsListId: java.util.UUID?, quantity: kotlin.Double?, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<ItemPriceCalculationEnvelope?> {
        val localVariableConfig = getPriceRequestConfig(itemId = itemId, priceListId = priceListId, discountsListId = discountsListId, quantity = quantity, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, ItemPriceCalculationEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPrice
     *
     * @param itemId 
     * @param priceListId  (optional)
     * @param discountsListId  (optional)
     * @param quantity  (optional, default to 1.0)
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun getPriceRequestConfig(itemId: java.util.UUID, priceListId: java.util.UUID?, discountsListId: java.util.UUID?, quantity: kotlin.Double?, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (priceListId != null) {
                    put("priceListId", listOf(priceListId.toString()))
                }
                if (discountsListId != null) {
                    put("discountsListId", listOf(discountsListId.toString()))
                }
                if (quantity != null) {
                    put("quantity", listOf(quantity.toString()))
                }
                if (currencyId != null) {
                    put("currencyId", listOf(currencyId.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/PricingService/Prices/{itemId}/Price".replace("{"+"itemId"+"}", encodeURIComponent(itemId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Gets total savings for an item
     * Gets the total savings amount for an item in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return MoneyEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTotalSavingsInUsd(itemId: java.util.UUID, currencyId: kotlin.String? = "USD.USA", apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : MoneyEnvelope {
        val localVarResponse = getTotalSavingsInUsdWithHttpInfo(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MoneyEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Gets total savings for an item
     * Gets the total savings amount for an item in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<MoneyEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTotalSavingsInUsdWithHttpInfo(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<MoneyEnvelope?> {
        val localVariableConfig = getTotalSavingsInUsdRequestConfig(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, MoneyEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTotalSavingsInUsd
     *
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun getTotalSavingsInUsdRequestConfig(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (currencyId != null) {
                    put("currencyId", listOf(currencyId.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/PricingService/Prices/{itemId}/TotalSavings".replace("{"+"itemId"+"}", encodeURIComponent(itemId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Gets total taxes for an item
     * Gets the total tax amount for an item in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return MoneyEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTotalTaxesInUsd(itemId: java.util.UUID, currencyId: kotlin.String? = "USD.USA", apiVersion: kotlin.String? = null, xApiVersion: kotlin.String? = null) : MoneyEnvelope {
        val localVarResponse = getTotalTaxesInUsdWithHttpInfo(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MoneyEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Gets total taxes for an item
     * Gets the total tax amount for an item in the specified currency.
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return ApiResponse<MoneyEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTotalTaxesInUsdWithHttpInfo(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : ApiResponse<MoneyEnvelope?> {
        val localVariableConfig = getTotalTaxesInUsdRequestConfig(itemId = itemId, currencyId = currencyId, apiVersion = apiVersion, xApiVersion = xApiVersion)

        return request<Unit, MoneyEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTotalTaxesInUsd
     *
     * @param itemId 
     * @param currencyId  (optional, default to "USD.USA")
     * @param apiVersion  (optional)
     * @param xApiVersion  (optional)
     * @return RequestConfig
     */
    fun getTotalTaxesInUsdRequestConfig(itemId: java.util.UUID, currencyId: kotlin.String?, apiVersion: kotlin.String?, xApiVersion: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (currencyId != null) {
                    put("currencyId", listOf(currencyId.toString()))
                }
                if (apiVersion != null) {
                    put("api-version", listOf(apiVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiVersion?.apply { localVariableHeaders["x-api-version"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v2/PricingService/Prices/{itemId}/TotalTaxes".replace("{"+"itemId"+"}", encodeURIComponent(itemId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
